h1, h2 {
    font-family: 'Hind Vadodara', sans-serif;
}

.header__btn {
    color: white;
    margin-left: 20px;
    padding: 7px 20px;
    outline: none;
    border: 2px solid;
    border-radius: 6px;
    background: #0B1D26;
}

.header__btn:hover {
    background: rgba(255,255,255,.2);
    color: black;
    cursor: pointer;
}

.day {
    text-align: center;
    max-width: 200px;
    background-color: #ced4da;
    border-radius: 10px;
    padding: 0 20px;
    font-family: 'Hind Vadodara', sans-serif;
}
